<h1>All The Bears!</h1>

<ul>
    <%= Enum.map(bears, fn(bear) -> %>
    <li><%= bear.name %> - <%= bear.type %></li>
    <% end) %>
</ul>

<ul>
    <%= for bear <- bears do %>
    <li><%= bear.name %> - <%= bear.type %></li>
    <% end %>
</ul>


<%= inspect(bears) %>
